@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

:root{
  --color-primary: #6380ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: rgb(38, 39, 40);
  --color-bg2: #cecfda;

  --transition: all 400ms ease;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.contenido-principal {
  padding-top: 2rem;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;     
  width: 100%;
  object-fit: cover;
}
.background{
  background-image: url("/assets/supermarket.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #0045c4;
}
/*====================================================================================*/

.heading-link {
  text-align: center;
  background: url("/assets/supermarket.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #000000;
}
.heading-link p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 2;
  color: #000000;
}
.heading-link p a {
  color: #0044ff;
}
.heading-link p a:hover {
  text-decoration: underline;
}

section {
  padding: 5rem 10%;
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 2.5rem;
  border-radius: 10%;
  border: 0.1rem solid #3a3b3b;
  background: #f0f6fd;
  color: #ff0000;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background: #ff0202;
  color: #fff;
}
/*====================================================================================*/

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}
.header .logo i {
  color: #0022ff;
}
.header .navbar {
  position: relative;
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.header .navbar a:hover {
  color: #0322bc;
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}
.header .icons div:hover {
  color: #001eff;
}
/*====================================================================================*/

.home {
  padding: 0;
}
.home .slide {
  display: flex;
  align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide .content {
  width: 50rem;
}
.home .slide .content h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #000000;
}
.home .slide .content h3 strong{
  font-size: 6rem;
}
.home .slide .content p {
  font-size: 2.6rem;
  line-height: 2;
  color: #201d1d;
  padding: 1rem 0;
}

/*===================================PRODUCTS=================================================*/
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.products .box-container .box {
  padding: 1rem 1rem;
  text-align: center;
  border: 0.1rem solid #0062ff;
  background: rgb(229, 231, 233);
  cursor: pointer;
  border-radius: 10%;
}
.products .box-container .box:hover {
  background: #026cff;
}
.products .box-container .box:hover h3 {
  color: #fff;
}
.products .box-container .box:hover p {
  color: #eee;
}
.products .box-container .box img {
  height: 16rem;
  margin-bottom: 0.7rem;
  border-radius: 10%;
}
.products .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.products .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
.products .box-container .box button{
  font-size: 1.9rem;
  font-weight: 900;
  border-radius: 10%;
  border: 0.3rem solid #3a3b3b;
  background: #f0f6fd;
  color: #0022ff;
  cursor: pointer;
}
.products .box-container .box button:hover{
  background: #ff0202;
  color: #fff;
}
/*=============================GALLERY PRODUCTS========================================*/

.gallery-products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.gallery-products .image {
  flex: 1 1 40rem;
}
.gallery-products .image img {
  width: 100%;
}
.gallery-products .content {
  flex: 1 1 40rem;
}
.gallery-products .content .products-title {
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #000000;
}
.gallery-products .content p {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2;
  color: #000000;
  padding: 1rem 0;
}
.gallery-products .content .icons-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.gallery-products .content .icons-container .icons {
  text-align: center;
  border: 0.4rem solid #003cff;
  background: #e5e7ea;
  padding: 3rem 2rem;
}
.gallery-products .content .icons-container .icons img {
  height: 9rem;
  margin-bottom: 0.5rem;
}
.gallery-products .content .icons-container .icons h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(0, 0, 0)
}
.gallery-products .content .icons-container .icons span {
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 2;
  color: #000000;
}
/*================================GALLERY SECTION=========================================*/
.gallery {
  list-style: none;
  padding: 5rem;
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) { 
  .gallery {
      grid-template-columns: repeat(3, 1fr);
  }
}
.gallery img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 5%;
}
.gallery img:hover{
  transform: scale(1.1);
}
/*===============================ABOUT US==========================================*/
.img-2{
  margin-left: -1rem;
}
/*================================OUR TEAMS=========================================*/

.team{
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(255, 255, 255, 0.5);
}
.team h2{
  color: #fff;
}
.team-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.team-member{
  background: var(--color-bg2);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.team-member:hover{
  background: transparent;
  border-color: var(--color-primary);
  color: #fff;
}
.team-member-image img{
  filter: saturate(0);
  border-radius: 5%;

}
.team-member:hover img{
  filter: saturate(1);
}
.team-member-info * {
  text-align: center;
  margin-top: 1.4rem;
  font-size: 2rem;
  font-weight: 900;
}
/*=================================CONTACT US========================================*/
.contact .icons-container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
}
.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  color: #fff;
  background: #0eb582;
}
.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .row .image {
  flex: 1 1 40rem;
}
.contact .row .image img {
  width: 100%;
}
.contact .row form {
  flex: 1 1 40rem;
  border: 0.1rem solid #0eb582;
  padding: 2rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}
.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.contact .row form .box:focus {
  background: #0eb582;
  color: #fff;
}
.contact .row form .box:focus::-moz-placeholder {
  color: #eee;
}
.contact .row form .box:focus::placeholder {
  color: #eee;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

/*==========================================================================*/
/*==========================================================================*/
/*==========================================================================*/
/*===========================================================================*/
/*===========================================================================*/
/*===========================================================================*/


.footer {
  background: #f0fdfa;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}
.footer .box-container .box h3 i {
  color: #0033ff;
}
.footer .box-container .box .share {
  margin-top: 1rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #0123ff;
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background-color: rgb(0, 68, 255);
}
.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #000000;
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: #0044ff;
  text-decoration: underline;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}
.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #0022ff;
  margin-bottom: 1rem;
}
.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #0033ff;
}
.footer .credit span {
  color: #0048ff;
}
.footer .credit span img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}